.idea/caches/gradle_models.ser
.gradle/4.10.1/
.gradle/vcs-1/
.gradle/vcsWorkingDirs/
vajnarlibrary/vajnarlibrary.iml
.idea/vcs.xml
vajnarlibrary/proguard-rules.pro
.idea/VajnarGlobe.iml
.idea/gradle.xml
.idea/modules.xml
.idea/workspace.xml
.idea/caches/
.idea/misc.xml
